.blog {
    background-color: rgb(36, 41, 46); 
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(230, 237, 243, 0.1); 
    /*600px when possible if not then 80% */
    width: min(80%, 600px);
    /*2% top/bottom aligns middle*/
    margin: 2% auto;
    color: white;
}

fieldset {
    border: 1px solid rgba(230, 237, 243, 0.1);
    padding: 2em;
}
/*form header larger and space to the left/right*/
legend {
    color: antiquewhite;
    font-size: 1.5rem;
    padding: 0 0.5em;
}

input[type="text"], textarea{
    width: 100%;
    background-color: rgb(26, 29, 35);
    color: antiquewhite;
    border: 1px solid rgba(88, 166, 255, 0.3);
}

input[type="text"], input{
    margin-bottom: 1em;
}

.post-btn, .clear-btn{
    background-color: rgb(26, 29, 35);
    color: antiquewhite;
}