.blog {
    background-color: rgb(36, 41, 46); 
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(230, 237, 243, 0.1); 
    max-width: 35%;
    margin: 3% auto;
    color: white;
}

.form-buttons {
    display: flex;
    gap: 20px;
}

fieldset {
    border: 1px solid rgba(230, 237, 243, 0.1);
    padding: 2em;
}

legend {
    color: antiquewhite;
    font-size: 1.5rem;
    padding: 0 0.5em;
}

input[type="text"], textarea{
    width: 100%;
    background-color: rgb(26, 29, 35);
    color: antiquewhite;
    border: 1px solid rgba(88, 166, 255, 0.3);
}

input[type="text"], input{
    margin-bottom: 1em;
}

.post-btn, .clear-btn{
    background-color: rgb(26, 29, 35);
    color: antiquewhite;
}