body {
    font-family: 'Noto Sans', Arial;
    background-color: rgb(26, 29, 35);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: rgb(36, 41, 46);
    color: antiquewhite;
    text-align: center;
    font-size: 3rem;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: center;
}

a {
    color: antiquewhite;
}

main{
    flex: 1;
}

footer {
    margin-top: auto;
    padding: 1rem;
}

